{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>datura metel</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <main>
        <div class="home-background-image">
            <div class="header">
                <div class="login">
                    <div>
                        <a href="">login</a>
                    </div>
                    <div>
                        <a href="{% url 'home' %}"><em>index</em></a>
                    </div>
                    <div>
                        <a href="{% url 'post' %}"><em>make a post</em></a>
                    </div>
                    <div>
                        <a href="{% url 'about' %}"><em>about</em></a>
                    </div>
                </div>
            </div>

            {% block content %}
            {% endblock %}

        </div>
    </main>
</body>

</html>