{% extends 'base.html' %}
{% block content %}

<div class="home-box">
    <div class="home-page">
        <div class="grid">

            {% for post in posts %}
            <a href="{% url 'detail' post.id %}">
                <div class="post-box">
                    <div class="post">

                        <span>{{ post.name }}</span>
                        <!-- <p>{{ post.description }}</p> -->
                        <!-- <p>only show first picture here. truncated post text is sneak peeked in the pop up</p> -->
                        <div class="post-icon">
                            {% for photo in post.photo_set.all %}
                            {% if forloop.first %}
                            <img class="home-img" src="{{photo.url}}">
                            {% endif %}
                            {%empty%}
                            <span>{{ post.description|truncatewords:5 }}</span>
                            {% endfor %}

                        </div>

                        <div class="pop-up">
                            <p>{{ post.description|truncatewords:5 }}</p>
                        </div>
                    </div>

                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}