{% extends 'base.html' %}
{% block content %}

<div class="home-box">
    <div class="home-page">
        <div class="post-box">
            <p>text</p>
        </div>
        <div class="post-box">
            <p>text</p>
        </div>
        <div class="post-box">
            <p>text</p>
        </div>
        <div class="post-box">
            <p>text</p>
        </div>
        <div class="post-box">
            <p>text</p>
        </div>
        {% for post in posts %}
        <a href="">
            <div class="post-box">
               <span>{{ post.title }}</span>
               <p>{{ post.description }}</p>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock %}