html {
    background-color: black;
    font-family: monospace;
    color: blue;
}

.home-background-image {
    background-image: url(https://64.media.tumblr.com/7979189373c82328c3c43c8bd7013d4d/8980160978c647e4-c2/s540x810/1a7d28bb52d68a6e6e870a342d0a84c8d79fd3c4.gifv);
    background-size: cover;
    height: 670px;
    width: 1430px;
}

.header {
    background-color: rgba(219, 197, 194, 0.69);
    width: 1430px;
    /* display: flex;
    justify-content: space-evenly;
    flex-direction: row; */
}

.login {
    /* width: 60px; */
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.home-box {
    display: flex;
    justify-content: center;
    align-content: center;
}
.home-page {
    background-color: wheat;
    height: 550px;
    width: 1350px;
    background-color: rgba(219, 197, 194, 0.46);
    margin-top: 40px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.post-box {
    background-color: rgba(219, 230, 226, 0.4);
    width: 150px;
    height: 150px;
    margin: 20px;
}
