html {
    background-color: black;
    font-family: monospace;
    color: #3b3a3b;
}
a {
    color: #3b3a3b;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}

.home-background-image {
    background-image: url(https://i.postimg.cc/VNdHZnQq/Screen-Shot-2020-06-18-at-4-21-39-PM.png);
    background-size: cover;
    height: 670px;
    width: 1430px;
}

.header {
    background-color: rgba(219, 197, 194, 0.9 );
    /* background-color: red; */
    width: 1430px;
    /* display: flex;
    justify-content: space-evenly;
    flex-direction: row; */
}

.header-content {
    /* background-color: red; */
    /* width: 60px; */
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.home-box {
    display: flex;
    justify-content: center;
    align-content: center;
}
.home-page {
    height: 550px;
    width: 1350px;
    background-color: rgba(219, 197, 194, 0.46);
    margin-top: 40px;

    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    overflow: scroll;
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 19px 19px;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . .";
      padding-top: 10px;
  
      
}
.post-box {
    background-color: rgba(219, 230, 226, 0.4);
    width: 150px;
    height: 150px;
    /* margin: 20px; */
}
.post-box:hover {
    /* background-color: rgba(219, 230, 226, 0.6); */
    box-shadow: 0px 0px 30px 10px rgba(239, 174, 175, 0.6);
    font-weight: bold;
}

.pop-up {
  visibility: hidden;
  width: 120px;
  background-color: black;
  border: white 1px solid;
  color: #fff;
  text-align: justify;
  padding: 10px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  margin-left: 70px;
  margin-top: 20px;
}

.post-box:hover .pop-up {
    visibility: visible;
}


.detail-page {
    display: flex;
    flex-direction: column;

    height: 550px;
    width: 1350px;
    background-color: rgba(219, 197, 194, 0.46);
    margin: 40px;

}

.detail-post {
    background-color: rgba(219, 230, 226, 0.4);
    /* background-color: rgba(239, 174, 175, 0.6); */
    width: 1250px;
    margin: 50px;
}
.detail-header {
    /* background-color: rgba(219, 230, 226, 0.4); */
}
.card-title {
    font-weight: bold;
    padding-left: 10px;
}

.card-description {
    padding-left: 10px;
    /* background-color: rgba(239, 174, 175, 0.6); */
}

.form-page {
    height: 550px;
    width: 1350px;
    background-color: rgba(219, 197, 194, 0.46);
    margin: 40px;


    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    overflow: scroll;
    display: flex;
    justify-content: center;
}

.form-box {
margin-top: 110px;
}

