{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-content">
        <div class="detail-page">
            <div class="back-link">

                <a href="/">back</a>
                <a href="{% url 'posts_update' post.id %}">edit</a>
                <a href="{% url 'posts_delete' post.id %}">delete</a>
            </div>
            <div class="detail-post">
                <div class="detail-header">
                    <p class="card-title"><em>{{ post.name }}</em></p>
                    <p class="by"><em>{{request.user.username}}</em></p>
                </div>
                <hr>
                <div class="card-description">
                    <p>{{ post.description }}</p>
                </div>

            </div>

            <div class="add-photos">
                {% for photo in post.photo_set.all %}
                <img class="post-photo" src="{{photo.url}}">
                {% empty %}
                <div class="no-post-photo">No Photos Uploaded</div>
                {% endfor %}


                <!-- new code below -->
                <form action="{% url 'add_photo' post.id %}" enctype="multipart/form-data" method="POST"
                    class="add-photos">
                    {% csrf_token %}
                    <input type="file" name="photo-file">
                    <br><br>
                    <input type="submit" class="btn" value="Upload Photo">
                </form>
            </div>

            
        </div>
                <div class="comment-box">
    
                    <table>
                        <thead>
                            <tr>Comments:</tr>
                        </thead>
                        <tbody>
                            {% for comment in post.comment_set.all %}
                            <tr>
                                <td><em>{{request.user.username}}:</em> {{comment.text}}</td>
                            </tr>
                            {% empty %}
                            <p>No comments yet!</p>
                            {% endfor %}
                        </tbody>
                    </table>
        
                    <div >

                        <form action="{% url 'add_comment' post.id %}" method="post" class="comment-form">
                            {% csrf_token %}
                            {{ comment_form.as_p }}
                            <input type="submit" class="btn" value="Add Comment">
                        </form>
                    </div>
                </div>


    </div>

</div>
</div>

{% endblock %}