{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-content">
        <div class="detail-page">
            <div class="back-link">
                <a href="/">back</a>
                <a href="{% url 'posts_update' post.id %}">edit</a>
                <a href="{% url 'posts_delete' post.id %}">delete</a>
            </div>
            <div class="detail-post">
                <div class="detail-header">
                    <div class="card-title">
                        <p class="post-title"><em>{{ post.title }}</em></p>
                    </div>
                    <div class="by">
                        <p class="post-header-info-break"><em>by:</em> {{post.user}}</p>
                    </div>
                    <div class="date">
                        <p class="post-header-info-break">{{post.date}}</p>
                    </div>
                </div>
                <!-- <hr> -->
                <div class="post-description">
                    <p>{{ post.description }}</p>
                    {% for photo in post.photo_set.all %}
                    <img class="post-photo" src="{{photo.url}}">
                    {% empty %}
                    <div class="no-post-photo">No Photos Uploaded</div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <form class="add-photos" action="{% url 'add_photo' post.id %}" enctype="multipart/form-data"
                    method="POST">
                    {% csrf_token %}
                    <input type="file" name="photo-file">
                    <br><br>
                    <input type="submit" class="btn" value="Upload Photo">
                </form>
            </div>
        </div>
        <div class="comment-box">
            <!-- {% for comment in post.comments.all %}
            <div class="comment">
                <div class="date">{{ comment.created_date }}</div>
                <strong>{{ comment.user }}</strong>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
            {% empty %}
            <p>No comments here yet :(</p>
            {% endfor %}
            <div class="comment-form-box">
                <div class="comment-form">
                    <form action="{% url 'add_comment' post.id %}" method="post">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <input type="submit" class="btn" value="Add Comment">
                      </form>
                </div>
            </div> -->
<div class="comment-container">

    <table>
        <thead>
            <tr>Comments:</tr>
        </thead>
        <tbody >
            {% for comment in post.comment_set.all %}
            <tr>
                <td class="comment"><em>{{comment.user}}:</em> {{comment.text}}</td>

                {% if user == comment.user %}
                <td class="comment"><a href="{% url 'delete_comment' comment.id %}">x</a></td>
                {% else %}
                <td></td>
                {% endif %}

            </tr>
            {% empty %}
            <p>No comments yet!</p>
            {% endfor %}
        </tbody>
    </table>
</div>

            <div class="comment-form-box">
                <form class="comment-form" action="{% url 'add_comment' post.id %}" method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                    <input type="submit" class="btn" value="Add Comment">
                </form>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}