{% extends 'base.html' %}
{% block content %}

<div class="card">
    <div class="card-content">
        <div class="detail-page">
            <div class="back-link">

                <a href="/">back</a>
                <a href="{% url 'posts_update' post.id %}">edit</a>
                <a href="{% url 'posts_delete' post.id %}">delete</a>
            </div>
            <div class="detail-post">
                <div class="detail-header">
                    <p class="card-title"><em>{{ post.title }}</em></p>
                </div>
                <hr>
                <p class="card-description">{{ post.description }}</p>
            </div>

        </div>
        {% for photo in post.photo_set.all %}
          <img class="" src="{{photo.url}}">
        {% empty %}
          <div class="">No Photos Uploaded</div>
        {% endfor %}


        </div>

    </div>
</div>

{% endblock %}